@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: white;

    height: 100vh;
}

header {
    padding: 30px;
}

header > h1 {
    color: white;
    text-align: center;

    animation: float 3s ease-in-out infinite;
}

header > h1 > a {
    text-decoration: none;
    color: white;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}

#bg {
    background-color: #000;

    width: 300px;
    height: 600px;

    margin: auto;
    padding: 20px;

    border-radius: 20px;
}

.card {
    padding: 20px;
    text-align: center;
}

.icons {
    width: 70px;
    border-radius: 50%;
    padding: 5px;
    background-size: 200px;

    background-image: linear-gradient(130deg, #000000, #fffdfd3a);
    transform: translateY(0px);
    animation: animated-gradient 2s linear infinite;

}

@keyframes animated-gradient {
    25% {
        background-position: left, bottom;
    }

    50% {
        background-position: right, bottom;
    }

    75% {
        background-position: right, top;
    }

    100% {
        background-position: left, top;
    }
}

.icons:hover {
    width: 100px;
    transition: 2s;
}

.users > p {
    padding: 5px;
    font-family: 'Baloo 2', cursive;

    transform: translatey(0px);
}

p:hover {
    font-size: 1.2em;
    transition: 2s;
}

.users > a {
    color: white;
    font-family: 'Baloo 2', cursive;;
    text-decoration: none;
}

hr {
    margin-left: 70px;
    margin-right: 70px;
}